<style>
    .tablerowheight {
        height: 40px;
    }
    .tablerow{
        height:20px;
        border-bottom: rgba(255,24,24,0.55);

    }
   a{
        color: white;
    }
    a:hover{
        color: whitesmoke;
    }
</style>

<table style="width: 200px;" >
    <tr class="tablerowheight" >
        <td>

        </td>
    </tr>
    <tr class="tablerow" id="moviedetails">
        <td>
            <h3><a href="admin_moviedetails" >Movie Details</a></h3>
        </td>
    </tr>
     <tr class="tablerowheight">
        <td>

        </td>
    </tr>
     <tr class="tablerow" id="tvshowdetails">
        <td>
            <h3><a href="admin_tvshowdetails" >TV Show Details</a></h3>
        </td>
    </tr>
     <tr class="tablerowheight">
        <td>

        </td>
    </tr>
    <tr class="tablerow" id="userdetails">
        <td>
            <h3><a href="adminuserdetails" >User Details</a></h3>
        </td>
    </tr>
     <tr class="tablerowheight">
        <td>

        </td>
    </tr>
    <tr class="tablerow" id="subscriptiondetails">
        <td>
            <h3><a href="adminplans" >Plan Details</a></h3>
        </td>
    </tr>
     <tr class="tablerowheight">
        <td>

        </td>
    </tr>
    <tr class="tablerow" id="changepassword">
        <td>
            <h3><a href="admin_changepassword" >Change Password</a></h3>
        </td>
    </tr>
     <tr class="tablerowheight">
        <td>

        </td>
    </tr>
    <tr class="tablerow" id="addadmin">
        <td>
            <h3><a href="admin_addadmin" >Add Admin</a></h3>
        </td>
    </tr>
     <tr class="tablerowheight">
        <td>

        </td>
    </tr>

</table>