<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Netflix + - Admin</title>
    <script src="{% static "bootstrap/jquery-3.5.0.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "bootstrap/bootstrap.min.css" %}">
    <script src="{% static "bootstrap/bootstrap.min.js" %}"></script>
    <script src="{% static "bootstrap/jquery.validate.min.js" %}"></script>

    <link rel="stylesheet" href="{% static "bootstrap/font-awesome.min.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        body, html {
            height: 100%;
        }

        #dynamic {
            height: 100%;
            width: 100%;
            min-height: 630px;
            min-width: 1000px;
        }

        #table_main {

            height: 100%;
        }

        #scroller {

            overflow: auto;


            height: 200px;
            width: 900px;
        }

        .colwidth {
            width: 200px;
        }

        .colheight {
            height: 20px;
        }

        .innerwidth {
            width: 50px;
        }
    </style>
    <script>


        $(document).ready(function () {
            $('#myform').validate();

        });
    </script>
</head>
<body>
<div id="dynamic">
    {% include "admin_uppertabs.html" %}
    <div class="container">
        <div align="right" style="background-color: red;width: 100%">
            <h2 style=" color: white;margin-right: 20px">Welcome {{ ar.msg }}</h2>
        </div>
        <table border="black" class="table" id="table_main">

            <tr>
                <td width="200px" style="background-color: red">
                    {% include "admin_tabs.html" %}
                </td>
                <td>
                    <div align="center">
                        <h3>Edit User</h3>
                        <div id="scroller">


                            <table class="table" style="width: 1800px">

                                <tr>
                                    <th>
                                        button
                                    </th>
                                    {% for j in e %}
                                        <th>
                                            {{ j.0 }}
                                        </th>
                                    {% endfor %}
                                </tr>
                                {% for i in d %}
                                    <tr>
                                        {% for t in i %}
                                            {% if forloop.counter == 1 %}
                                                <td><a style="color: black" href="admin_userdetailedit?userid={{ t }}"><i
                                                        class="fa fa-pencil" aria-hidden="true"></i></a></td>
                                            {% else %}
                                                <td>{{ t }}</td>
                                            {% endif %}
                                        {% endfor %}

                                    </tr>
                                {% endfor %}
                            </table>

                        </div>

                        <form id="myform" action="admin_userdetailssave" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <br>
                            <br>

                            <table>
                                <tr>
                                    <td class="colwidth">
                                       User ID:
                                    </td>
                                    <td class="colwidth">
                                        <input type="text" class="form-control " data-rule-required="true"
                                               value="{{ d1.userid }}"
                                               data-msg-required="Please enter username" name="txtuserid"
                                               readonly="true">
                                    </td>
                                    <td class="innerwidth">

                                    </td>
                                    <td class="colwidth">

                                    </td>
                                    <td class="colwidth">

                                    </td>
                                </tr>
                                <tr class="colheight">
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td class="innerwidth">

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="colwidth">
                                        Name:
                                    </td>
                                    <td class="colwidth">
                                        <input type="text" class="form-control " data-rule-required="true"
                                               value="{{ d1.username }}"
                                               data-msg-required="Please enter username" name="txtusername"
                                               readonly="true">
                                    </td>
                                    <td class="innerwidth">

                                    </td>
                                    <td class="colwidth">
                                        Email:
                                    </td>
                                    <td class="colwidth">
                                        <input type="text" class="form-control " data-rule-required="true"
                                               value="{{ d1.email }}"
                                               data-msg-required="Please enter email" name="txtemail" readonly>
                                    </td>
                                </tr>
                                <tr class="colheight">
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td class="innerwidth">

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="colwidth">
                                        Phone Number:
                                    </td>
                                    <td class="colwidth">
                                        <input type="text" class="form-control " data-rule-required="true"
                                               value="{{ d1.phone }}"
                                               data-msg-required="Please enter phone number" name="txtphone">
                                    </td>
                                    <td class="innerwidth">

                                    </td>
                                    <td class="colwidth">
                                        otp:
                                    </td>
                                    <td class="colwidth">
                                        <input type="text" class="form-control " data-rule-required="true"
                                               value="{{ d1.otp }}"
                                               data-msg-required="Please enter movie director name" name="txtotp" >
                                    </td>
                                </tr>
                                <tr class="colheight">
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td class="innerwidth">

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                </tr>
                                 <tr class="colheight">
                                    <td>
                                        <h5><b>Payment Details</b></h5>
                                    </td>
                                    <td>

                                    </td>
                                    <td class="innerwidth">

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr class="colheight">
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td class="innerwidth">

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="colwidth">
                                        Cardholder Name:

                                    </td>
                                    <td class="colwidth">
                                        <input type="text" class="form-control " data-rule-required="true"
                                               value="{{ d2.cardname }}"
                                               data-msg-required="Please enter movie language" name="txcardname" readonly>

                                    </td>
                                    <td class="innerwidth">

                                    </td>

                                    <td class="colwidth">
                                        Card Number:

                                    </td>
                                    <td class="colwidth">
                                        <input type="text" class="form-control " data-rule-required="true"
                                               value="{{ d2.cardnumber }}"
                                               data-msg-required="Please enter movie link" name="txtlink" readonly>
                                    </td>
                                </tr>
                                <tr class="colheight">
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td class="innerwidth">

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="colwidth">

                                        Card expiry date:
                                    </td>
                                    <td class="colwidth">

                                        <input type="text" class="form-control " data-rule-required="true"
                                               value="{{ d2.cardexpdate }}"
                                               data-msg-required="Please enter movie runtime duration"
                                               name="txtcardexpname" readonly>
                                    </td>
                                    <td class="innerwidth">

                                    </td>

                                    <td class="colwidth">

                                        Payment ID:
                                    </td>
                                    <td class="colwidth">

                                        <input type="text" class="form-control " data-rule-required="true"
                                               value="{{ d2.payid }}"
                                               data-msg-required="Please enter movie runtime duration"
                                               name="txtpayid" readonly>
                                    </td>
                                </tr>
                                <tr class="colheight">
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td class="innerwidth">

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr class="colheight">
                                    <td>
                                        <h5><b>Subscription Details</b></h5>
                                    </td>
                                    <td>

                                    </td>
                                    <td class="innerwidth">

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr class="colheight">
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td class="innerwidth">

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="colwidth">
                                        Plan

                                    </td>

                                    <td class="colwidth" >
                                        <input type="text" class="form-control " data-rule-required="true"
                                               value="{{ d3.plan}}"
                                               data-msg-required="Please enter movie runtime duration"
                                               name="txtplan" readonly>
                                    </td>
                                     <td class="innerwidth">

                                    </td>
                                     <td class="colwidth">
                                        Amount Paid:

                                    </td>

                                    <td class="colwidth" >
                                        <input type="text" class="form-control " data-rule-required="true"
                                               value="{{ d3.amount}}"
                                               data-msg-required="Please enter movie runtime duration"
                                               name="txtamount" readonly>
                                    </td>
                                </tr>
                                <tr class="colheight">
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td class="innerwidth">

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="colwidth">
                                        Plan start date:
                                    </td>
                                    <td class="colwidth">
                                        <input type="text" class="form-control " data-rule-required="true"
                                               value="{{ d3.startdate }}"
                                               data-msg-required="Please enter movie runtime duration"
                                               name="txtstartdate" readonly>
                                    </td>
                                    <td class="innerwidth">

                                    </td>
                                     <td class="colwidth">
                                        Plan end date:
                                    </td>
                                    <td class="colwidth">
                                        <input type="text" class="form-control " data-rule-required="true"
                                               value="{{ d3.enddate }}"
                                               data-msg-required="Please enter movie runtime duration"
                                               name="txtstartdate" readonly>
                                    </td>
                                </tr>
                                <tr class="colheight">
                                    <td>

                                    </td>
                                   <td class="colwidth">

                                    </td>
                                    <td class="innerwidth">

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                </tr>

                                <tr>
                                    <td class="colwidth">
                                         Status:
                                    </td>
                                    <td class="colwidth">
                                        <input type="text" class="form-control " data-rule-required="true"
                                               value="{{ d3.state }}"
                                               data-msg-required="Please enter movie runtime duration"
                                               name="txtstartdate" readonly>
                                    </td>
                                    <td class="innerwidth">

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                </tr>
                            </table>
                            <br>
                            <br>
                            <button type="submit" class="btn btn-danger"
                                    style="width:250px;height:50px;  font-size: 17px; text-align: center">Save
                            </button>
                            {% if d3.state == "Deactivated" %}
                            <button type="button" class="btn btn-danger" onclick="window.open('admin_useractivate?subid={{ d3.subid }}','_self')"
                                    style="width:250px;height:50px;  font-size: 17px; text-align: center">Activate
                            </button>
                            {% else %}
                            <button type="button" class="btn btn-danger" onclick="window.open('admin_userdelete?subid={{ d3.subid }}','_self')"
                                    style="width:250px;height:50px;  font-size: 17px; text-align: center">Deactivate
                            </button>
                            {% endif %}
                        </form>

                    </div>
                </td>
            </tr>

        </table>
    </div>

</div>
</div>
</body>
</html>