<div style="height:130px; width:100%;position: relative; border: black; ">

            <div  style="width:50%; float: left " >
                <a href="page1">
                <img src="../static/logo.png" style="margin-left:45px ; height: 120px "/>
                    </a>
            </div>

            <div  style="margin-right: 45px; " align="right"  >
              <button type="button" class="btn btn-danger" id="signinbtn" style="width:100px;margin-top:30px" onclick="window.open('signin','_self')">Sign In</button>
            </div>


        </div>